@media screen and (min-width:1241px) and (max-width:1500px) {}

@media screen and (min-width:1025px) and (max-width:1240px) {}

@media screen and (min-width:992px) and (max-width:1024px) {}

@media screen and (min-width:768px) and (max-width:991px) {}

@media (max-width: 767px) {
    .animation-two .row .col-md-6:nth-child(2) {
        display: none;
    }

    .animation-two-image img:nth-child(1) {
        display: none;
    }

    .animation-two-image img:nth-child(2) {
        display: block;
    }

}



@media screen and (max-width:575px) {}


@media screen and (max-width:480px) {}