img {
    max-width: 100%;
}

input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea,
.input-checkbox {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

input:focus {
    outline: 0;
}

textarea:focus {
    outline: 0;
}

button:focus {
    outline: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

.TC {
    text-align: center;
}

.TL {
    text-align: left;
}

.TR {
    text-align: right;
}

.margin_auto {
    margin: auto;
    float: none;
}

.padding {
    padding: 0;
}

.al {
    width: 100%;
    height: 100%;
    display: table;
}

.alm {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

body {
    font-family: 'PublicSans-Regular';
    background-color: #fff;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    width: 100%;
}

/* ========== start ========== */

/* ==== animation main ( one ) start ==== */

.animation-main {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    position: sticky;
    top: 0;
}

.word .char {
    font-size: 55px;
    color: #ffffff54;
    text-transform: uppercase;
    font-family: fantasy;
    letter-spacing: 10px;
}

.down-arrow {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    bottom: 10%;
    display: flex;
    flex-direction: column;
}

.down-arrow i {
    color: #ffffff54;
    font-size: 22px;
}

.down-arrow i:nth-child(2) {
    margin-top: -5px;
    margin-bottom: -5px;
}

/* ==== animation main ( one ) End ==== */

/* ==== animation two Start ==== */

.animation-two {
    position: sticky;
    top: 0;
}

.animation-two .row {
    width: 100%;
    margin: auto;
    padding: 0px;
}

.animation-two .row .col-md-6 {
    padding: 0px;
}

.animation-two-image {
    overflow: hidden;
}

.animation-two-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.animation-two-image img:nth-child(2) {
    display: none;
}

/* ==== animation two End ==== */

/* <!-- ============ animation three start ============ --> */

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 100vh;
    text-align: center;
    color: white;
    background: #003049;
}

.section span {
    text-decoration: underline;
}

/* MAIN STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.section-slides {
    margin-top: -1px;
    overflow: hidden;
}

.slides {
    display: flex;
}

.slide figure {
    margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #f1faee;
}

.slide figcaption {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.15);
}

.slide .heading {
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    font-size: clamp(2.5rem, 2vh, 5rem);
    line-height: 1;
    font-weight: bold;
    color: #d62828;
    background: #fcbf49;
}

/* <!-- ============ animation three start ============ --> */

/* <!-- ============ animation Four start ============ --> */

.animation-four {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation-four .my-char {
    color: white;
    font-size: 55px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'cursive';
}

.animation-four .my-char-two {
    color: white;
    font-size: 55px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'cursive';
}

/* <!-- ============ animation Four End ============ --> */

/* ========== animation five start ============ */

.animation-five {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    box-shadow: inset 0px 0px 8px 9px #0000ff78;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.animation-five h1 {
    color: white;
    font-size: 55px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: cursive;
    margin-bottom: 30px;
}

.animation-five h2 {
    color: white;
    font-size: 55px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: cursive;
}

/* ========== animation five End ============ */