img {
    max-width: 100%;
}

input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea,
.input-checkbox {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

input:focus {
    outline: 0;
}

textarea:focus {
    outline: 0;
}

button:focus {
    outline: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

.TC {
    text-align: center;
}

.TL {
    text-align: left;
}

.TR {
    text-align: right;
}

.margin_auto {
    margin: auto;
    float: none;
}

.padding {
    padding: 0;
}

.al {
    width: 100%;
    height: 100%;
    display: table;
}

.alm {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

body {
    font-family: 'PublicSans-Regular';
    background-color: #fff;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    width: 100%;
}

/* ========== start ========== */

/* ==== animation main ( one ) start ==== */

.animation-main {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.animation-main::before {
    position: absolute;
    content: "";
    background-image: url(../images/gear-wide-svgrepo-com.svg);
    background-repeat: no-repeat;
    filter: brightness(0) saturate(100%) invert(80%) sepia(1%) saturate(7%) hue-rotate(22deg) brightness(108%) contrast(92%);
    width: 500px;
    height: 500px;
    background-size: 100% 100%;
    left: 0px;
    right: 0;
    margin: auto;
    top: 150px;
    opacity: 0.4;
    animation: rtet 8s linear infinite;
}

@keyframes rtet {

    0% {
        transform: rotate(-360deg);
        filter: brightness(0) saturate(100%) invert(50%) sepia(93%) saturate(2777%) hue-rotate(176deg) brightness(96%) contrast(110%);
    }

    25% {
        filter: brightness(0) saturate(100%) invert(20%) sepia(86%) saturate(3999%) hue-rotate(323deg) brightness(89%) contrast(131%);
    }

    50% {
        filter: brightness(0) saturate(100%) invert(81%) sepia(36%) saturate(5419%) hue-rotate(128deg) brightness(110%) contrast(109%);
    }

    75% {
        filter: brightness(0) saturate(100%) invert(78%) sepia(36%) saturate(5998%) hue-rotate(79deg) brightness(125%) contrast(138%);
    }

    100% {
        filter: brightness(0) saturate(100%) invert(92%) sepia(65%) saturate(5464%) hue-rotate(9deg) brightness(107%) contrast(106%);
    }

}

.word .char {
    font-size: 55px;
    color: #ffffff54;
    text-transform: uppercase;
    font-family: fantasy;
    letter-spacing: 10px;
    animation: txtclrcnge 8s linear infinite;
}

@keyframes txtclrcnge {

    0% {
        filter: brightness(0) saturate(100%) invert(50%) sepia(93%) saturate(2777%) hue-rotate(176deg) brightness(96%) contrast(110%);
    }

    25% {
        filter: brightness(0) saturate(100%) invert(20%) sepia(86%) saturate(3999%) hue-rotate(323deg) brightness(89%) contrast(131%);
    }

    50% {
        filter: brightness(0) saturate(100%) invert(81%) sepia(36%) saturate(5419%) hue-rotate(128deg) brightness(110%) contrast(109%);
    }

    75% {
        filter: brightness(0) saturate(100%) invert(78%) sepia(36%) saturate(5998%) hue-rotate(79deg) brightness(125%) contrast(138%);
    }

    100% {
        filter: brightness(0) saturate(100%) invert(92%) sepia(65%) saturate(5464%) hue-rotate(9deg) brightness(107%) contrast(106%);
    }

}


.down-arrow {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    bottom: 10%;
    display: flex;
    flex-direction: column;
}

.down-arrow i {
    color: #ffffff54;
    font-size: 22px;
}

.down-arrow i:nth-child(2) {
    margin-top: -5px;
    margin-bottom: -5px;
}

/* ==== animation main ( one ) End ==== */

/* ==== animation two Start ==== */

.animation-two {
    position: sticky;
    top: 0;
}

.animation-two .row {
    width: 100%;
    margin: auto;
    padding: 0px;
}

.animation-two .row .col-md-6 {
    padding: 0px;
}

.animation-two-image {
    overflow: hidden;
}

.animation-two-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.animation-two-image img:nth-child(2) {
    display: none;
}

/* ==== animation two End ==== */

/* <!-- ============ animation three start ============ --> */

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 100vh;
    text-align: center;
    color: white;
    background: #003049;
}

.section span {
    text-decoration: underline;
}

/* MAIN STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.section-slides {
    margin-top: -1px;
    overflow: hidden;
}

.slides {
    display: flex;
}

.slide figure {
    margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #f1faee;
}

.slide figcaption {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.15);
}

.slide .heading {
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    font-size: clamp(2.5rem, 2vh, 5rem);
    line-height: 1;
    font-weight: bold;
    color: #d62828;
    background: #fcbf49;
}

/* <!-- ============ animation three start ============ --> */

/* <!-- ============ animation Four start ============ --> */

.animation-four {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation-four .my-char {
    color: white;
    font-size: 55px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'cursive';
    text-shadow: 1px 1px red;
    animation: tanione 2s infinite;
}

@keyframes tanione {

    0% {
        text-shadow: 1px 1px #40ff00;
    }

    100% {
        text-shadow: 1px 1px #0000ff;
    }

}

.animation-four .my-char-two {
    color: white;
    font-size: 55px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'cursive';
    text-shadow: 1px 1px rgb(51, 0, 255);
    animation: tanitwo 2s infinite;
}

@keyframes tanitwo {

    0% {
        text-shadow: 1px 1px #fb00ff;

    }

    100% {
        text-shadow: 1px 1px #ffa200;
    }

}



/* <!-- ============ animation Four End ============ --> */

/* ========== animation five start ============ */

.animation-five {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    box-shadow: inset 0px 0px 8px 9px #0000ff78;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    animation: brdrinsd 2s infinite;
}

@keyframes brdrinsd {

    0% {
        box-shadow: inset 0px 0px 8px 9px #3eff0070;
    }

    25% {
        box-shadow: inset 0px 0px 8px 9px #0100ff70;
    }

    50% {
        box-shadow: inset 0px 0px 8px 9px #f900ff70;
    }

    100% {
        box-shadow: inset 0px 0px 8px 9px #ffa20070;
    }

}

.animation-five h1 {
    color: white;
    font-size: 55px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: cursive;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.animation-five h2 {
    color: white;
    font-size: 55px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: cursive;
}

/* ========== animation five End ============ */

/* ==== animation six start ==== */
/* ==== cursor ====  */

#cursor {
    width: 28px;
    height: 28px;
    position: fixed;
    top: 0;
    border-radius: 50%;
    z-index: 999;
    background-image: url(../images/gear.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(0) saturate(100%) invert(98%) sepia(4%) saturate(1312%) hue-rotate(193deg) brightness(112%) contrast(73%);
}

#main {
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
}

/* ==== animation six End ==== */

/* ==== animation seven ( text video background ) start ==== */

.animation-seven {
    width: 100%;
    height: 95vh;
    background-color: black;
    position: relative;
    border: 10px solid;
    border-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
    animation: brdrani 2s infinite;
}

@keyframes brdrani {
    0% {
        border-image: linear-gradient(360deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
    }

    25% {
        border-image: linear-gradient(180deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
    }

    50% {
        border-image: linear-gradient(90deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
    }

    75% {
        border-image: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
    }

    100% {
        border-image: linear-gradient(0deg, rgb(0, 143, 104), rgb(250, 224, 66)) 1;
    }

}

.animation-seven video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animation-seven-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: multiply;
}

.animation-seven-text h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: system-ui;
    font-weight: 900;
    font-size: 125px;
}



/* ==== animation seven ( text video background ) End ==== */

/* ==== animation eight ( nav menu hover & click audio effect ) start ==== */

.navmenu {
    width: 100%;
    height: auto;
    background-color: #70686a;
    position: fixed;
    top: 0;
    padding: 10px 0px;
}

.navmenu ul {
    padding: 0px;
    width: fit-content;
    margin: auto;
}

.navmenu ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.navmenu ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: math;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 8px 10px;
}

.navmenu ul li a:hover {
    background: #362d2d;
}

audio {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
}

/* ==== animation eight ( nav menu hover & click audio effect ) End ==== */

/* ==== animation nine start ( text rotate ) ====  */

.animation-nine {
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    width: 140px;
    height: 140px;
    background: url("../images/mitesh\ photos.jpg");
    background-size: cover;
    border-radius: 100vmax;
    background-position: center;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: consolas;
    color: white;
    font-size: 17px;
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 100px;
}

/* ==== animation nine End ( text rotate ) ====  */